.container-contact {
  text-align: center;
  margin-top: 50px;
  img {
    margin-top: 30px;
    width: 100%;
  }
  p {
    margin-top: 30px;
  }
  .icons-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      transition: .3s all;
      &.light {
        background-color: var(--purple-light);
        color: var(--purple-dark);
        &:hover {
          filter: brightness(90%);
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}